.topbar{
    background-color: rgb(206, 180, 194);
    font-family: Verdana;

    overflow: hidden;
}

.topbar a{
    float:left;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topbar a:hover {
    background-color: rgb(136, 67, 130);
    color:black;
}

.topnav a.active {
    background-color:#ddd;
    color: white;
}