.urgent{
    background-color: rgb(233, 219, 140);
    
    }
  .days{
    background-color:  rgb(233, 219, 140);
    }
  .week {
    background-color:   rgb(233, 219, 140);
    } 
  /* .remove {
    background-color:   rgb(233, 219, 140);
  } */
    